<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>DOMCrypt: MsgDrp Demo</title>
{% block metatags %}
{% endblock metatags %}
    <link rel="stylesheet" href="/site_media/css/style.css" type="text/css"/>
    <script type="text/javascript" src="/site_media/js/jquery.js"></script>
    <script type="text/javascript" src="/site_media/js/msgdrp.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <h1><span id="base-title">MsgDrp</span>
        <button id="go-messages">Check Messages</button>
        <button id="go-compose">Compose</button>
        <button id="go-addressbook">Addressbook Entry Lookup</button>
        <button id="go-addressbook-create">Create an Addressbook Entry</button>
      </h1>

      <div id="main">
        {% block main %}

        {% endblock main %}
      </div>

    </div>
  </body>
</html>
